<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="warning" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="warning">
      <div font size=4 align="center"><strong>DeliveryTracking - 2021</strong></div>
      <div font size=1 align="center"><i>
          <H6>Estados</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title color="warning">
      <div align="center" style="font-size: 0.7rem"><strong>HSYS 4.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content padding>
  <ion-grid size="auto">
    <ion-list>
      <ion-list-header>Estados</ion-list-header>
      <ion-item>
        <ion-label>Entregados</ion-label>
        <ion-badge color="success" slot="end">{{entregados}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>No entregados</ion-label>
        <ion-badge color="warning" slot="end">{{noEntregados}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Restantes</ion-label>
        <ion-badge color="tertiary" slot="end">{{restantes}}</ion-badge>
      </ion-item>      
    </ion-list>
    <br>    
    <ion-list>
      <ion-list-header>Seleccione estado</ion-list-header>
      <ion-item>        
        <ion-select placeholder="Seleccione uno" (ionChange)="buscar($event)">
          <ion-select-option value="s">Entregas efectivas</ion-select-option>
          <ion-select-option value="n">Entregas no efectivas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-row *ngFor="let pedido of pedidos$ ">
      <ion-col *ngIf="seleccion === 's' && pedido.estado === 5" size="1.4" style="font-size: 0.5rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <div font align="rigth">{{ pedido.pedido }}</div>
      </ion-col>

      <ion-col *ngIf="seleccion === 's' && pedido.estado === 5" size="8.3" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <ion-row class="item-2.0px" style="font-size: 0.7rem" class="item-10px">
          <strong>{{ pedido.destinoFinal }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 's' && pedido.estado === 5" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Direccion: {{ pedido.direccion }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 's' && pedido.estado === 5" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Tel: {{ pedido.tel }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 's' && pedido.estado === 5" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Depto: {{ pedido.depto }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 's' && pedido.estado === 5" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Ciudad: {{ pedido.ciudad }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 's' && pedido.estado === 5" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Fecha: {{ pedido.vehi_Tipo }}</strong>
        </ion-row>
      
      </ion-col>

      <ion-col *ngIf="seleccion === 's' && pedido.estado === 5 && pedido.foto === null"  size="2.2" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <ion-fab-button (click)="openAlertCamara(pedido)" size="small">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col *ngIf="seleccion === 's' && pedido.estado === 5 && pedido.foto !== null"  size="2.2" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);">
          <ion-label>Foto guardada</ion-label>          
          <ion-icon name="checkmark-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let pedido of pedidos$ ">
      <ion-col *ngIf="seleccion === 'n' && pedido.estado === 7" size="1.4" style="font-size: 0.5rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <div font align="rigth">{{ pedido.pedido }}</div>
      </ion-col>

      <ion-col *ngIf="seleccion === 'n' && pedido.estado === 7" size="8.3" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <ion-row class="item-2.0px" style="font-size: 0.7rem" class="item-10px">
          <strong>{{ pedido.destinoFinal }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 'n' && pedido.estado === 7" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Direccion: {{ pedido.direccion }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 'n' && pedido.estado === 7" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Tel: {{ pedido.tel }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 'n' && pedido.estado === 7" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Depto: {{ pedido.depto }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 'n' && pedido.estado === 7" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Ciudad: {{ pedido.ciudad }}</strong>
        </ion-row>

        <ion-row *ngIf="seleccion === 'n' && pedido.estado === 7" class="item-2.0px" style="font-size: 0.5rem" class="item-10px">
          <strong>Fecha: {{ pedido.vehi_Tipo }}</strong>
        </ion-row>
        
      </ion-col>

      <ion-col *ngIf="seleccion === 'n' && pedido.estado === 7" size="2.2" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);">
        <ion-fab-button (click)="presentModal(pedido)" size="small">
          <ion-icon name="sync-outline">Eventos</ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>