<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="warning" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="warning">
      <div font size=4 align="center"><strong>DeliveryTracking - 2021</strong></div>
      <div font size=1 align="center"><i>
          <H6>Versión Móvil</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title color="warning">
      <div align="center" style="font-size: 0.7rem"><strong>HSYS 4.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-list>  
  <ng-container>    
  </ng-container>
</ion-list>

<ion-content padding class="tab5-content">
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button (click)="presentActionSheet()" color="warning">
      <ion-icon name="alert-circle-outline">contadores</ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  <ion-grid size="auto" *ngIf="pedidos$ !== null">
    <ion-row *ngFor="let pedido of pedidos$">

      <ion-col size="9.5" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);"
        *ngIf=" pedido.estado === 2">

        <ion-row class="item-2.0px" style="font-size: 0.8rem" class="item-10px" ng-model="item.destinoFinal">
          <strong>{{ pedido.destinoFinal }}</strong>
        </ion-row>

        <ion-row class="item-0.5px" style="font-size: 0.7rem" class="item-10px">
          Dirección: {{ pedido.direccion }}
        </ion-row>

        <ion-row class="item-0.5px" style="font-size: 0.7rem" class="item-10px">
          Teléfono: {{ pedido.tel }}
        </ion-row>

        <ion-row class="item-0.5px" style="font-size: 0.7rem" class="item-10px">
          Depto: {{ pedido.depto }}
        </ion-row>
        <ion-row class="item-0.5px" style="font-size: 0.7rem" class="item-10px">
          Ciudad: {{ pedido.ciudad }}
        </ion-row>
        <ion-row class="item-0.5px" style="font-size: 0.7rem" class="item-10px">
          <strong>{{ pedido.pedido }}</strong>
        </ion-row>
        
      </ion-col>

      <ion-col size="2.4" style="font-size: 0.8rem;border: 1px solid;border-color: rgb(126, 123, 123);"
        *ngIf=" pedido.estado === 2">

        <ion-fab-button (click)="presentModal(pedido)" size="small">
          <ion-icon name="add-circle-outline">Eventos</ion-icon>
        </ion-fab-button>

        <!--<ion-button (click)="presentModal(pedido)" size="small" *ngIf=" pedido.estado === 2">
          <ion-icon name="information-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="openAlert(pedido)" size="small" color="success">
          <ion-icon name="checkbox-outline"></ion-icon>
        </ion-button>


        <ion-button (click)="pedidoCanceladoAlert(pedido)" size="small" color="danger" *ngIf=" pedido.estado === 2">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>-->
        
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

