<ion-header [translucent]="true">
  <ion-toolbar color="dark" >

    <ion-buttons slot="start">
      <ion-menu-button color="warning" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title 
      stacked class="my-title" 
      color="warning">
      <div font size=4 align="center"><strong>DeliveryTracking - 2021</strong></div>
      <div font size=1 align="center"><i><H6>Subir Datos</H6></i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer >
  <ion-toolbar color="dark" >
    <ion-title color="warning">
      <div align="center" style="font-size: 0.7rem"><strong>HSYS 4.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content padding class="tab5-content">
  <ion-button (click)="openConfirmacion()" expand="block">Sincronizar</ion-button>
</ion-content>